/* GENERAL STYLE */
/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    font-weight: 300;
    color: #a3a3a3;
}

h1, h2, h3, h4, h5 {
    font-weight: 600;
    color: black
}



/* Utilities */
.debug-fix {
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
}
.px10 {
    padding-left: 10px;
    padding-right: 10px;
}

.pl-10 {
    padding-left: 16px;
}

.pr-10 {
    padding-right: 16px;
}

.center {
    margin: 0px auto 0px auto
}

.mb-30 {
    margin-bottom: 30px
}

.mb-15 {
    margin-bottom: 15px;
}
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.conteiner {
    width: 1200px;
    margin: 0 auto;
}







/* header */
header {
    /* background-color: #e579e6; */
    height: auto; 
    width: 100%;
}

.brand img {
    height: 70px;
}

.menu-list > li {
    display: inline-block;
    margin-right: 10px
}

.menu-list > li > a {
    text-decoration: none;
    color: #a3a3a3;
    text-transform: uppercase;

}

.menu-list > li > a:hover {
 color: #000

}




/* main */
/* hero */
.main-conteiner {
    width: 100%;
    height: 550px; 
    /* background-color: #e1d67a; */
}

.hero {
    height: 100%;
    width: 100%; 
    background-image: url('../img/banner.jpg');
    background-size: cover;
    background-position: center -95px;
    border-radius: 20px;
    position: relative;
    
}

.hero-content {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}

.hero-text {
    height: 40%;
    width: 55%;
    position: absolute;
    bottom: 0;
    padding-left: 40px

}

.hero-text > h4 {
    font-size: 30px;
    color: white;
    font-weight: 300;
}

.hero-text > p {
    color: white
}




/* grid layout */
.grid-conteiner {
    width: 100%;
    height: auto; 
    /* background-color: #0088f7; */
    padding-bottom: 10px;
}

.first-conteiner {
    background-color: rgba(255, 255, 255, 0.5); 
    width: 100%;
    height: auto;
    padding-bottom: 20px
}

.first-conteiner h1 {
    font-size: 35px
}

.col {
  
    height: auto;
    float: left;
    /* background-color: red */
}

 .col-image {
    height: 200px; 
    width: 100%;
    background-size: cover;
    border-radius: 20px;
    position: relative;
}

.first-col > .col-content > .col-image {
    background-image: url('../img/img-1.jpg');
}


.second-col > .col-content > .col-image {
    background-image: url('../img/banner-2.jpg');
    background-position: center 320px ;
}

.third-col > .col-content > .col-image {
    background-image: url('../img/img-3.jpg');
    background-position: center center
}



.philter-img {
    position: absolute; 
    background-color: rgba(0, 0, 0, 0.2); 
    height: 100%;
    width: 100%; 
    top: 0;
    border-radius: 20px;
}

.first-col {
    width: 20%;
}

.second-col {
    width: 60%;
}

.third-col {
    width: 20%;
}

.col-content {
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 100%;
}

.col-text {
    margin-top: 20px;
}

.col-text > h5 {
    font-weight: 500;
    font-size: 18px;
    margin: 10px 0;
}




/* footer */
footer {
    width: 100%;
    height:70px;
    /* background-color: #8801fe; */
    padding-top: 20px
}

footer > section > p {
    font-weight: 500;
    text-align: center;
    color: black;
    vertical-align: middle;;
}

footer > section > p >  span {
    color: red;
    font-size: 28px;


}
